NEXT_PUBLIC_RPC_URL=https://mainnet.helius-rpc.com/?api-key=f7df5125-5666-4009-a292-3b6dd4e19c9b
NEXT_PUBLIC_HELIUS_API_KEY=f7df5125-5666-4009-a292-3b6dd4e19c9b
NEXT_PUBLIC_JUPITER_API_URL=https://price.jup.ag/v4
NEXT_PUBLIC_BIRDEYE_API_KEY=
NEXT_PUBLIC_RPC_ENDPOINT=https://mainnet.helius-rpc.com/?api-key=f7df5125-5666-4009-a292-3b6dd4e19c9b